.idea
.vscode
.DS_Store
.env
.env.example
.git
.gitignore
.gitmodules
.hg
.hgignore
.hgsub
.npmignore
.lock-wscript
.svn
.wafpickle-*
npm-debug.log
yarn-debug.log
yarn-error.log
*.orig
!node_modules
!node_modules/.bin
!dist
